/*navbar css to go here*/
.navbar {
    background-color: #2d2d2d !important;
}

.nav-link {
    color: #ffffff !important;
}

.navlogo {
    height: 40px;
    width: 120px;
}

/*jumbotron css*/
.jumbotron {
    margin-top: 0 !important;
}

.jumbotitle {
    color: #ffffff !important;
}

.jumbotext {
    color: #ffffff;
    background-color: #1C7BC0 !important;
}

/*body css to go here*/
.data {
    display: flex;
    justify-content: center;
    /* height: 336px; */
    height: 30em !important;
}

.search-container {
    margin-left: 0.625em !important;
    margin-bottom: 0.625em;
    margin-right: 10px;
    flex-grow: 0.1;
    width: 350px;
}

.btn {
    transition-duration: 0.4s !important;
}
  
.btn:hover {
    background-color: #1C7BC0 !important; 

    color: white !important;
}

.stats {
    margin: 0.625em !important;
}

.list-group-item {
    padding: 0.8em !important;
}

.postcode-data,
.crime-data {
    margin: 0.625em;
    margin-top: 0;
    width: 25em;
    height: 18.75em !important;

}

.crime-data-container,
.postcode-data-container {
    overflow-y: auto !important;
    /* Add a scrollbar when the content overflows the div */
    margin: 0.625em;
    margin-top: 0;
    width: 25em;
    height: 27.7em !important;
}

/*about us section*/
.developer-jumbotron {
    margin-top: 15em !important;
}

.about-us {
    display: inline-flex;
    justify-content: center;
    width: 100% !important;
    padding-left: 50%;
    padding-right: 50%;
    background-color: #1C7BC0;
}

.about-us-section {
    width: 250px;
    text-align: center;
    margin: 0.625em;
    padding-top: 4em;
}


.about-us-section h2 {
    color: white;
}
/*resized font for about us section*/
.fw-normal {
    font-size: 30px !important;
}

.github-link img {
    height: 30px;
    width: 30px;
    transition: .5s;
}

.github-link img:hover {
    transform: scale(1.2);
}

.crime-data-container ul {
    list-style-type: none !important;
    padding: 0;
    margin: 0;
}

.crime-data-container li {
    margin-bottom: 10px;
}

/*footer css*/
footer {
    background-color: #2d2d2d;
    padding: 8px;
    color: #ffffff;
}

footer p {
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin-top: 20px;
}

/*modal css*/
.modal-pic {
    width: 270px;
    height: 80px;
}