/*body css to go here*/


/*navbar css to go here*/


/*jumbotron css*/
.jumbotron {
    margin-top: 0 !important;
}

.data {
    display: flex;
}

.search-container {
    margin-left: 0.625em !important;
    margin-bottom: 0.625em;
}

.list-group {
    margin-top: 0.625em !important;
}

.stats {
    margin: 0.625em !important;
}

.list-group-item {
    padding: 1.2em;
}

/*about us section*/
.about-us {
    display: flex;
}

.crime-data-container {
    height: 300px !important;
    /* Set the desired height for the div, we can change this if it doesn't work*/
    overflow-y: auto !important;
    /* Add a scrollbar when the content overflows the div */
}

.crime-data-container ul {
    list-style-type: none !important;
        padding: 0;
        margin: 0;
}

.crime-data-container li {
    margin-bottom: 10px;
}